---
import Button from '@/components/Button.astro'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: 'All Tags'
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>
		<h1 class='mb-6 mt-5 text-2xl font-bold'>Bee-Wary</h1>
		<p class='mb-6 font-bold'>
			Voor mijn eindwerkproject heb ik samen met mijn team Bee-Wary ontwikkeld, een applicatie die
			speciaal is ontworpen om imkers te helpen bij het efficiënt beheren van hun bijenkorven. Met
			een gedeelde passie voor zowel bijen als technologie wilden we een oplossing creëren die zowel
			praktisch als innovatief is.
		</p>
		<img
			src='/src/assets/Bee-Wary.png'
			alt='Bee-Wary'
			class='mb-6 h-auto w-full rounded-lg shadow-lg'
		/>
		<p class='mb-6'>
			Met Bee-Wary kunnen imkers eenvoudig notities maken en real-time data van hun bijenkorven
			verzamelen via geïntegreerde sensoren. Deze sensoren meten bijvoorbeeld temperatuur,
			luchtvochtigheid en bijenactiviteit, en slaan deze gegevens automatisch op in de app.
		</p>
		<p class='mb-6'>
			Samen met mijn team heb ik het volledige ontwerpproces doorlopen, van het initiële concept tot
			het uiteindelijke product. We hebben de interface ontworpen, de juiste technologieën gekozen,
			en de sensoren geïntegreerd. [Hier laat ik ruimte om uit te leggen welke technologieën we
			hebben gebruikt, zoals programmeertalen, frameworks en hardware]. Dankzij onze samenwerking is
			Bee-Wary zowel gebruiksvriendelijk als betrouwbaar geworden.
		</p>
		<p class='mb-6'>
			Bee-Wary is het resultaat van onze gezamenlijke inspanningen en gedeelde visie. Met deze
			applicatie bieden we imkers de tools om hun bijenkorven beter te beheren en te beschermen. Ik
			ben trots op wat we als team hebben bereikt en hoop dat Bee-Wary een waardevolle bijdrage
			levert aan het behoud van bijen en het succes van imkers.
		</p>
	</div>
</PageLayout>
