---
import Button from '@/components/Button.astro'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: 'All Tags'
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>
		<h1 class='mb-6 mt-5 text-2xl font-bold'>Movie/TV Show Tracker</h1>
		<p class='mb-6 font-bold'>
			Momenteel werk ik aan een nieuw project: een React-app die fungeert als een Progressive Web
			App (PWA) voor het bijhouden van films en tv-shows. Het doel is om een gebruiksvriendelijke en
			veelzijdige tool te creëren waarmee gebruikers hun favoriete films en series kunnen volgen,
			lijsten kunnen maken, en ontdekken wat ze nog willen zien.
		</p>
		<img
			src='/src/assets/movie-tv-show-tracker.png'
			alt='Bee-Wary'
			class='mb-6 h-auto w-full rounded-lg shadow-lg'
		/>
		<p class='mb-6'>
			Ik ben nu bezig met het designproces, waarbij ik een intuïtieve en aantrekkelijke interface
			aan het ontwikkelen ben om de gebruikerservaring te optimaliseren. Tegelijkertijd werk ik aan
			de basisfunctionaliteiten van de app, gebouwd met React voor een flexibele en schaalbare
			structuur.
		</p>
		<p class='mb-6'>
			Een belangrijk onderdeel van de app is de integratie met de TMDb API, die wordt gebruikt om
			actuele en gedetailleerde informatie over films en tv-shows op te halen. Deze API biedt
			uitgebreide gegevens zoals beschrijvingen, ratings, afbeeldingen en release-informatie. Door
			gebruik te maken van de TMDb API, kan ik ervoor zorgen dat gebruikers altijd toegang hebben
			tot de nieuwste informatie en trends in de film- en televisie-industrie.
		</p>
		<p class='mb-6'>
			Hoewel het project nog in ontwikkeling is, ben ik enthousiast over de vooruitgang en de
			mogelijkheden die de TMDb API biedt. Met de combinatie van React, PWA-technologie en de rijke
			dataset van TMDb, streef ik ernaar een app te creëren die film- en serieliefhebbers helpt hun
			kijkervaringen te organiseren en te verrijken. Ik kijk ernaar uit om dit project te voltooien
			en een waardevolle tool te bieden voor iedereen die zijn entertainment bijhoudt en ontdekt.
		</p>
	</div>
</PageLayout>
