---
import Button from '@/components/Button.astro'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: 'All Tags'
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>
		<h1 class='mb-6 mt-5 text-2xl font-bold'>Flutter Pokemon App</h1>
		<p class='mb-6 font-bold'>
			Samen met een vriend heb ik een Pokémon-app ontwikkeld die is gebouwd met Flutter. Deze app
			combineert de magie van Pokémon met de nieuwste technologieën, inclusief een Augmented Reality
			(AR) functie. We wilden een interactieve en vernieuwende ervaring creëren voor Pokémon-fans,
			waarin de klassieke kaarten tot leven komen op een manier die je nog nooit hebt gezien.
		</p>
		<img
			src='/src/assets/flutter-pokemon-app.png'
			alt='Bee-Wary'
			class='mb-6 h-auto w-full rounded-lg shadow-lg'
		/>
		<p class='mb-6'>
			De app is gebouwd met Flutter, waardoor we een vloeiende en consistente gebruikerservaring op
			zowel Android als iOS konden bieden. Voor de authenticatie hebben we Firebase gebruikt, zodat
			gebruikers zich gemakkelijk en veilig kunnen registreren en inloggen. Het AR-gedeelte van de
			app, dat we hebben gerealiseerd met behulp van Wikitude, maakt het mogelijk om een
			Pokémon-kaart te scannen en de Pokémon in 3D te zien verschijnen op het scherm. Hierdoor
			krijgen gebruikers een unieke, levensechte interactie met hun Pokémon-kaarten.
		</p>
		<p class='mb-6'>
			Samen met mijn vriend heb ik het volledige ontwikkelproces doorlopen, van het bedenken van het
			concept tot het implementeren van de AR-functionaliteit. Onze samenwerking zorgde ervoor dat
			we de app zowel technisch als visueel konden optimaliseren, met een focus op
			gebruiksvriendelijkheid en een indrukwekkende AR-ervaring.
		</p>
		<p class='mb-6'>
			Dit Pokémon-project is het resultaat van onze gezamenlijke inspanningen en liefde voor zowel
			technologie als Pokémon. Met de app bieden we fans een nieuwe manier om hun Pokémon-kaarten
			tot leven te zien komen, dankzij de AR-functionaliteit. Ik ben trots op wat we samen hebben
			bereikt en hoop dat gebruikers net zo enthousiast zijn over de app als wij waren tijdens het
			ontwikkelen ervan.
		</p>
	</div>
</PageLayout>
